<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>blog here ...</h1>

    <%for(let i of arr){%>
        <div>
            <h2>id is : <%=i.id%></h2>
            <h2>username is : <%=i.name%></h2>

        </div>

    <%}%>
    
        
   
</body>
</html>