<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Add Blog</h1>
    <fieldset>
        <legend>Add a new blog</legend>

    
    <form action="/blogs" method="POST">

        <label for="id">id:</label>
        <input type="text" id="id" name="id">
        <br>
        <label for="name">name:</label>
        <input type="text" id="name" name="name">
        <br><br>
        <button>add blog</button>
    </form>
</fieldset>

</body>

</html>