<!-- include header -->
 <!-- <%- output the unescaped value into the templat-->
  <!-- <%-include('./partials/header')%> -->
    <h1>hello g</h1>
    <h2><b>kaise ho mere pyare desh vasio</b></h2>

  <!-- <%-include('./partials/footer')%> -->
<!-- /include footer -->