<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <fieldset>
        <legend>Comments</legend>
        
         <form action="/blogs" method="POST">
             
        <label for="userName"></label>
        <input type="text" name="userName" id="userName">
        <br><br>
        
        <label for="comment"></label>
        <input type="text" name="comment" id="comment">
        <br><br>
        <button>add Comment </button>
    </form>
</fieldset>

</body>
</html>