<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    i can write html + js
    <h1>hello <%=1+2+3%></h1>//hello 6
    <h1>hello <%=number%></h1>

    <!-- you will write least logic (minimum)in ejs  -->
    <%if( (number % 2 == 0 )){%>
        <h1>even number </h1>


        <%}else {%>
        <h1>odd number</h1>
        <%}%>

    
</body>
</html>